# pip thing
dist

# compiled python
*.pyc

# shhhhhhhhhhh
boxley/secrets.txt

# testing file
boxley/test.txt

# processed markdown
README.html
INSTALL.html

# pip related stuff 
README
MANIFEST

# dropbox sdk
dropbox-python-sdk-2.2.0

# test stuff
test/__pycache__
test/example-files
