# built and executable version
*.exe
*.build

# shhhhhhhhhhh
boxley/secrets.txt

# testing file
boxley/test.txt

# processed markdown
README.html
INSTALL.html

# pip related stuff 
README
MANIFEST

# dropbox sdk
dropbox-python-sdk-2.2.0
